.pic
    width 500px
    margin-top 60px

.smaller
    font-size .85em
.smallest
    font-size 0.55em

.end-link
    font-family 'PT Mono', sans-serif
    bottom 10%
    position absolute
    width 100%
    padding 0 35px
    font-size 24px
    line-height 1.8
    a
        color #3F56CB

.logo
    width 150px
    background-color #fff
    margin-top 50px
    
    & + &
        margin-left: 50px;

.logo-img
    position absolute
    top 30%;
    right 10%;

th
    &.condition
        width 50%;
    &.editor
    &.editor2
        position relative
    &.editor
        width 20%;
    &.editor2
        width 25%;
    .table-logo
        position relative
        top 10px

td
    padding 0 10px
    &.green
        background-color #cff3af !important


.slide ul>lilang(ru)before
    color #1C2F21
.slide ul.plus>lilang(ru)before
    content '+'
    color #50891d
.slide ul.minus>lilang(ru)before
    content '–'
    color #ec190c


.gray
    color gray
